:root {
  --font-roboto: 'Roboto', Arial, sans-serif;

  --color-white: #FFFFFF;

  --color-blue-dark: #111832;
  --color-blue-medium: #4C567B;
  --color-blue-light: #AEB9E0;
  --color-blue-lighter: #F0F4FF;

  --header-height: 10rem;
}
